---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroBoxHome from "../components/HeroBoxHome.astro";
import { Image } from "astro:assets";
import EsraImage from "../assets/img/esra-chami.png";
import JulienImage from "../assets/img/julien-lefevre.png";
import MagaliImage from "../assets/img/magali.png";
import FionaImage from "../assets/img/fiona.png";
import EmelyneImage from "../assets/img/emelyne.png";
import SophieImage from "../assets/img/sophie.png";
import CarteStDenis from "../assets/img/carte-saint-denis.png";
import CarteStLeu from "../assets/img/carte-saint-leu.png";
//import HomeBlogSlider from "../components/HomeBlogSlider.astro";
import Footer from "../components/Footer.astro";
import GoogleMaps from "../components/GoogleMaps.astro";
import HomeBlogSlider from "../components/HomeBlogSlider.astro";
---

<Layout title="Page des composants" description="Ceci est la meta description">
	<div class="hero-element">
		<div class="overlay"></div>
		<Header />
		<HeroBoxHome />
	</div>
	<main>
		<section class="introhome text-center py-16 px-8 max-w-6xl mx-auto">
			<h2 class="section-title">
				Des techniques d’avant garde au service de votre beauté
			</h2>
			<p class="max-w-4xl mx-auto mb-4 md:text-[22px] text-base">
				Nos centres sont équipés d’appareils à la pointe de la technologie, sont
				reconnus à travers le monde entier pour leur efficacité et leur
				innocuité.
			</p>
			<p class="max-w-4xl mx-auto mb-4 md:text-[22px] text-base">
				Vous pourrez y profiter des dernières avancées dans le domaine de la
				médecine esthétique. Nos médecins, les docteurs Chami et Lefèvre, ont
				suivi une formation spécifique pour chacun des traitements proposés,
				afin de vous garantir les meilleurs résultats, en toute sécurité.
			</p>
			<p class="max-w-4xl mx-auto mb-0 md:text-[22px] text-base">
				Ils pourront vous recevoir pour une évaluation personnalisée et établir
				un plan de traitement adapté, afin de mieux répondre à vos attentes.
			</p>
		</section>
		<div class="intermediatenav lg:flex lg:flex-start hidden">
			<div
				class="navtitle font-bold xl:px-6 xl:py-6 px-6 py-6 bg-grey-500 text-white text-base xl:text-lg xxl:text-xl">
				Prenez soin de vous
			</div>
			<a
				class="flex items-center px-8 gap-4 max-w-[290px]"
				href="/epilation-definitive/">
				<svg
					class="lg:hidden xl:block xl:w-[40px] xl:h-[40px]"
					width="45"
					height="46"
					viewBox="0 0 45 46"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M42.1875 23C42.1875 28.2214 40.1133 33.229 36.4212 36.9212C32.729 40.6133 27.7214 42.6875 22.5 42.6875C17.2786 42.6875 12.271 40.6133 8.57883 36.9212C4.88671 33.229 2.8125 28.2214 2.8125 23C2.8125 17.7786 4.88671 12.771 8.57883 9.07883C12.271 5.38671 17.2786 3.3125 22.5 3.3125C27.7214 3.3125 32.729 5.38671 36.4212 9.07883C40.1133 12.771 42.1875 17.7786 42.1875 23ZM0 23C0 28.9674 2.37053 34.6903 6.5901 38.9099C10.8097 43.1295 16.5326 45.5 22.5 45.5C28.4674 45.5 34.1903 43.1295 38.4099 38.9099C42.6295 34.6903 45 28.9674 45 23C45 17.0326 42.6295 11.3097 38.4099 7.0901C34.1903 2.87053 28.4674 0.5 22.5 0.5C16.5326 0.5 10.8097 2.87053 6.5901 7.0901C2.37053 11.3097 0 17.0326 0 23ZM20.6807 33.8369L30.5244 23.9932C31.0693 23.4482 31.0693 22.5518 30.5244 22.0068L20.6807 12.1631C20.1357 11.6182 19.2393 11.6182 18.6943 12.1631C18.1494 12.708 18.1494 13.6045 18.6943 14.1494L27.5449 23L18.6943 31.8506C18.1494 32.3955 18.1494 33.292 18.6943 33.8369C19.2393 34.3818 20.1357 34.3818 20.6807 33.8369Z"
					></path>
				</svg><div class="flex flex-col">
					<span class="font-bold text-grey-500 xxl:text-md text-base"
						>Épilation laser</span
					><span class="leading-tight"
						>L’épilation définitive<br /> sécurisée</span
					>
				</div>
			</a>

			<a class="flex items-center px-8 gap-4 max-w-[290px]" href="/detatouage-laser/">
				<svg 
					class="lg:hidden xl:block xl:w-[40px] xl:h-[40px]"
					width="45"
					height="46"
					viewBox="0 0 45 46"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M42.1875 23C42.1875 28.2214 40.1133 33.229 36.4212 36.9212C32.729 40.6133 27.7214 42.6875 22.5 42.6875C17.2786 42.6875 12.271 40.6133 8.57883 36.9212C4.88671 33.229 2.8125 28.2214 2.8125 23C2.8125 17.7786 4.88671 12.771 8.57883 9.07883C12.271 5.38671 17.2786 3.3125 22.5 3.3125C27.7214 3.3125 32.729 5.38671 36.4212 9.07883C40.1133 12.771 42.1875 17.7786 42.1875 23ZM0 23C0 28.9674 2.37053 34.6903 6.5901 38.9099C10.8097 43.1295 16.5326 45.5 22.5 45.5C28.4674 45.5 34.1903 43.1295 38.4099 38.9099C42.6295 34.6903 45 28.9674 45 23C45 17.0326 42.6295 11.3097 38.4099 7.0901C34.1903 2.87053 28.4674 0.5 22.5 0.5C16.5326 0.5 10.8097 2.87053 6.5901 7.0901C2.37053 11.3097 0 17.0326 0 23ZM20.6807 33.8369L30.5244 23.9932C31.0693 23.4482 31.0693 22.5518 30.5244 22.0068L20.6807 12.1631C20.1357 11.6182 19.2393 11.6182 18.6943 12.1631C18.1494 12.708 18.1494 13.6045 18.6943 14.1494L27.5449 23L18.6943 31.8506C18.1494 32.3955 18.1494 33.292 18.6943 33.8369C19.2393 34.3818 20.1357 34.3818 20.6807 33.8369Z"
					></path>
				</svg><div class="flex flex-col">
					<span class="font-bold text-grey-500 xxl:text-md text-base"
						>Détatouage</span
					><span class="leading-tight"
						>Effacez vos tatouages<br /> sans risques</span
					>
				</div>
			</a>
			<a
				class="flex items-center px-8 gap-4 max-w-[290px]"
				href="/rajeunissement-laser/">
				<svg
					class="lg:hidden xl:block xl:w-[40px] xl:h-[40px]"
					width="45"
					height="46"
					viewBox="0 0 45 46"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M42.1875 23C42.1875 28.2214 40.1133 33.229 36.4212 36.9212C32.729 40.6133 27.7214 42.6875 22.5 42.6875C17.2786 42.6875 12.271 40.6133 8.57883 36.9212C4.88671 33.229 2.8125 28.2214 2.8125 23C2.8125 17.7786 4.88671 12.771 8.57883 9.07883C12.271 5.38671 17.2786 3.3125 22.5 3.3125C27.7214 3.3125 32.729 5.38671 36.4212 9.07883C40.1133 12.771 42.1875 17.7786 42.1875 23ZM0 23C0 28.9674 2.37053 34.6903 6.5901 38.9099C10.8097 43.1295 16.5326 45.5 22.5 45.5C28.4674 45.5 34.1903 43.1295 38.4099 38.9099C42.6295 34.6903 45 28.9674 45 23C45 17.0326 42.6295 11.3097 38.4099 7.0901C34.1903 2.87053 28.4674 0.5 22.5 0.5C16.5326 0.5 10.8097 2.87053 6.5901 7.0901C2.37053 11.3097 0 17.0326 0 23ZM20.6807 33.8369L30.5244 23.9932C31.0693 23.4482 31.0693 22.5518 30.5244 22.0068L20.6807 12.1631C20.1357 11.6182 19.2393 11.6182 18.6943 12.1631C18.1494 12.708 18.1494 13.6045 18.6943 14.1494L27.5449 23L18.6943 31.8506C18.1494 32.3955 18.1494 33.292 18.6943 33.8369C19.2393 34.3818 20.1357 34.3818 20.6807 33.8369Z"
					></path>
				</svg><div class="flex flex-col">
					<span class="font-bold text-grey-500 xxl:text-md text-base"
						>Rajeunissement</span
					><span class="leading-tight"
						>Embellissez votre peau<br /> avec le laser</span
					>
				</div>
			</a>

			<a
				class="flex items-center px-8 gap-4 max-w-[290px]"
				href="/injection-acide-hyaluronique/">
				<svg
					class="lg:hidden xl:block xl:w-[40px] xl:h-[40px]"
					width="45"
					height="46"
					viewBox="0 0 45 46"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M42.1875 23C42.1875 28.2214 40.1133 33.229 36.4212 36.9212C32.729 40.6133 27.7214 42.6875 22.5 42.6875C17.2786 42.6875 12.271 40.6133 8.57883 36.9212C4.88671 33.229 2.8125 28.2214 2.8125 23C2.8125 17.7786 4.88671 12.771 8.57883 9.07883C12.271 5.38671 17.2786 3.3125 22.5 3.3125C27.7214 3.3125 32.729 5.38671 36.4212 9.07883C40.1133 12.771 42.1875 17.7786 42.1875 23ZM0 23C0 28.9674 2.37053 34.6903 6.5901 38.9099C10.8097 43.1295 16.5326 45.5 22.5 45.5C28.4674 45.5 34.1903 43.1295 38.4099 38.9099C42.6295 34.6903 45 28.9674 45 23C45 17.0326 42.6295 11.3097 38.4099 7.0901C34.1903 2.87053 28.4674 0.5 22.5 0.5C16.5326 0.5 10.8097 2.87053 6.5901 7.0901C2.37053 11.3097 0 17.0326 0 23ZM20.6807 33.8369L30.5244 23.9932C31.0693 23.4482 31.0693 22.5518 30.5244 22.0068L20.6807 12.1631C20.1357 11.6182 19.2393 11.6182 18.6943 12.1631C18.1494 12.708 18.1494 13.6045 18.6943 14.1494L27.5449 23L18.6943 31.8506C18.1494 32.3955 18.1494 33.292 18.6943 33.8369C19.2393 34.3818 20.1357 34.3818 20.6807 33.8369Z"
					></path>
				</svg><div class="flex flex-col">
					<span class="font-bold text-grey-500 xxl:text-md text-base"
						>Injections</span
					><span class="leading-tight">Révélez votre beauté<br /> au naturel</span>
				</div>
			</a>
		</div>

		<section class="big-boxes grid md:grid-cols-2 grid-cols-1 gap-0">
			<div
				class="treat-injection flex flex-col justify-center items-center gap-4 h-[400px] lg:h-[600px] relative">
				<h3 class="text-white text-md md:text-xl z-20 drop-shadow-3xl">
					Injections
				</h3>
				<a
					class="cta white sktn z-20 drop-shadow-3xl"
					href="/injection-acide-hyaluronique/">Découvrir</a
				>
				<div class="overlay"></div>
			</div>
			<div
				class="treat-epil flex flex-col justify-center items-center gap-4 h-[400px] lg:h-[600px] relative">
				<h3 class="text-white text-md md:text-xl z-20 drop-shadow-3xl">
					Epilation laser
				</h3>
				<a
					class="cta white sktn z-20 drop-shadow-3xl"
					href="/epilation-definitive/">Découvrir</a
				>
				<div class="overlay"></div>
			</div>

			<div
				class="treat-detat flex flex-col justify-center items-center gap-4 h-[400px] lg:h-[600px] relative">
				<h3 class="text-white text-md md:text-xl z-20 drop-shadow-3xl">
					Détatouage laser
				</h3>
				<a class="cta white sktn z-20 drop-shadow-3xl" href="/detatouage-laser/"
					>Découvrir</a
				>
				<div class="overlay"></div>
			</div>
			<div
				class="treat-rajeun flex flex-col justify-center items-center gap-4 h-[400px] lg:h-[600px] relative">
				<h3 class="text-white text-md md:text-xl z-20 drop-shadow-3xl">
					Rajeunissement laser
				</h3>
				<a
					class="cta white sktn z-20 drop-shadow-3xl"
					href="/rajeunissement-laser/">Découvrir</a
				>
				<div class="overlay"></div>
			</div>
		</section>

		<div class="container gauche-droite pt-24 pb-24">
			<h2 class="section-title">
				Les Drs Chami & Lefèvre, experts en médecine esthétique
			</h2>
			<p class="text-center max-w-3xl mx-auto mb-16 text-[18px] md:text-base">
				Rencontrez nos praticiens experts en médecine esthétique, engagés à
				améliorer votre bien-être et votre confiance en vous.
			</p>
			<div class="lg:flex lg:flex-row-reverse gap-8 mb-24">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3
						class="text-lg md:text-xl lg:text-xxl underline underline-offset-8 mb-6">
						Docteur Esra CHAMI
					</h3>
					<span class="subtitle font-bold text-base"
						>Diplômé de la faculté de médecine de Bordeaux</span
					>
					<ul class="education mt-6">
						<li class="flex gap-2 items-start text-[18px] md:text-base mb-2">
							<svg
								class="mt-1 shrink-0"
								width="21"
								height="20"
								viewBox="0 0 21 20"
								fill="black"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.5 0.0175591C9.12607 0.0175591 7.83021 0.275169 6.61241 0.790392C5.39461 1.32123 4.33294 2.03942 3.4274 2.94496C2.52186 3.8505 1.81148 4.90437 1.29625 6.10655C0.765418 7.32435 0.5 8.62021 0.5 9.99414C0.5 11.3681 0.765418 12.6639 1.29625 13.8817C1.81148 15.0995 2.52186 16.1612 3.4274 17.0667C4.33294 17.9723 5.39461 18.6827 6.61241 19.1979C7.83021 19.7287 9.12607 19.9941 10.5 19.9941C11.8739 19.9941 13.1698 19.7287 14.3876 19.1979C15.6054 18.6827 16.6671 17.9723 17.5726 17.0667C18.4781 16.1612 19.1885 15.0995 19.7037 13.8817C20.2346 12.6639 20.5 11.3681 20.5 9.99414C20.5 8.62021 20.2346 7.32435 19.7037 6.10655C19.1885 4.90437 18.4781 3.8505 17.5726 2.94496C16.6671 2.03942 15.6054 1.32123 14.3876 0.790392C13.1698 0.275169 11.8739 0.0175591 10.5 0.0175591ZM10.5 18.0035C9.39149 18.0035 8.35324 17.7927 7.38525 17.3712C6.41725 16.9496 5.57026 16.3759 4.84426 15.6499C4.11827 14.9239 3.5523 14.0769 3.14637 13.1089C2.72482 12.1409 2.51405 11.1026 2.51405 9.99414C2.51405 8.90124 2.72482 7.86299 3.14637 6.87939C3.5523 5.91139 4.11827 5.0683 4.84426 4.35011C5.57026 3.63192 6.41725 3.06206 7.38525 2.64051C8.35324 2.21896 9.39149 2.00819 10.5 2.00819C11.6085 2.00819 12.6468 2.21896 13.6148 2.64051C14.5827 3.06206 15.4297 3.63192 16.1557 4.35011C16.8817 5.0683 17.4477 5.91139 17.8536 6.87939C18.2752 7.86299 18.4859 8.90124 18.4859 9.99414C18.4859 11.1026 18.2752 12.1409 17.8536 13.1089C17.4477 14.0769 16.8817 14.9239 16.1557 15.6499C15.4297 16.3759 14.5827 16.9496 13.6148 17.3712C12.6468 17.7927 11.6085 18.0035 10.5 18.0035ZM8.50937 11.5866L6.21429 9.29156L4.78571 10.6967L8.50937 14.397L15.2073 7.69906L13.8021 6.29391L8.50937 11.5866Z"
									fill="black"></path>
							</svg><span
								>Diplôme inter-universitaire Euopéen des lasers médicaux de
								l’université Paris VI</span
							>
						</li>
						<li class="flex gap-2 items-start text-[18px] md:text-base mb-2">
							<svg
								class="mt-1 shrink-0"
								width="21"
								height="20"
								viewBox="0 0 21 20"
								fill="black"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.5 0.0175591C9.12607 0.0175591 7.83021 0.275169 6.61241 0.790392C5.39461 1.32123 4.33294 2.03942 3.4274 2.94496C2.52186 3.8505 1.81148 4.90437 1.29625 6.10655C0.765418 7.32435 0.5 8.62021 0.5 9.99414C0.5 11.3681 0.765418 12.6639 1.29625 13.8817C1.81148 15.0995 2.52186 16.1612 3.4274 17.0667C4.33294 17.9723 5.39461 18.6827 6.61241 19.1979C7.83021 19.7287 9.12607 19.9941 10.5 19.9941C11.8739 19.9941 13.1698 19.7287 14.3876 19.1979C15.6054 18.6827 16.6671 17.9723 17.5726 17.0667C18.4781 16.1612 19.1885 15.0995 19.7037 13.8817C20.2346 12.6639 20.5 11.3681 20.5 9.99414C20.5 8.62021 20.2346 7.32435 19.7037 6.10655C19.1885 4.90437 18.4781 3.8505 17.5726 2.94496C16.6671 2.03942 15.6054 1.32123 14.3876 0.790392C13.1698 0.275169 11.8739 0.0175591 10.5 0.0175591ZM10.5 18.0035C9.39149 18.0035 8.35324 17.7927 7.38525 17.3712C6.41725 16.9496 5.57026 16.3759 4.84426 15.6499C4.11827 14.9239 3.5523 14.0769 3.14637 13.1089C2.72482 12.1409 2.51405 11.1026 2.51405 9.99414C2.51405 8.90124 2.72482 7.86299 3.14637 6.87939C3.5523 5.91139 4.11827 5.0683 4.84426 4.35011C5.57026 3.63192 6.41725 3.06206 7.38525 2.64051C8.35324 2.21896 9.39149 2.00819 10.5 2.00819C11.6085 2.00819 12.6468 2.21896 13.6148 2.64051C14.5827 3.06206 15.4297 3.63192 16.1557 4.35011C16.8817 5.0683 17.4477 5.91139 17.8536 6.87939C18.2752 7.86299 18.4859 8.90124 18.4859 9.99414C18.4859 11.1026 18.2752 12.1409 17.8536 13.1089C17.4477 14.0769 16.8817 14.9239 16.1557 15.6499C15.4297 16.3759 14.5827 16.9496 13.6148 17.3712C12.6468 17.7927 11.6085 18.0035 10.5 18.0035ZM8.50937 11.5866L6.21429 9.29156L4.78571 10.6967L8.50937 14.397L15.2073 7.69906L13.8021 6.29391L8.50937 11.5866Z"
									fill="black"></path>
							</svg><span
								>Diplôme inter-universitaire des techniques d’injections et
								comblement en dermatologie et chirurgie plastique de
								l’université Paris Descartes</span
							>
						</li>
						<li class="flex gap-2 items-start text-[18px] md:text-base mb-2">
							<svg
								class="mt-1 shrink-0"
								width="21"
								height="20"
								viewBox="0 0 21 20"
								fill="black"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.5 0.0175591C9.12607 0.0175591 7.83021 0.275169 6.61241 0.790392C5.39461 1.32123 4.33294 2.03942 3.4274 2.94496C2.52186 3.8505 1.81148 4.90437 1.29625 6.10655C0.765418 7.32435 0.5 8.62021 0.5 9.99414C0.5 11.3681 0.765418 12.6639 1.29625 13.8817C1.81148 15.0995 2.52186 16.1612 3.4274 17.0667C4.33294 17.9723 5.39461 18.6827 6.61241 19.1979C7.83021 19.7287 9.12607 19.9941 10.5 19.9941C11.8739 19.9941 13.1698 19.7287 14.3876 19.1979C15.6054 18.6827 16.6671 17.9723 17.5726 17.0667C18.4781 16.1612 19.1885 15.0995 19.7037 13.8817C20.2346 12.6639 20.5 11.3681 20.5 9.99414C20.5 8.62021 20.2346 7.32435 19.7037 6.10655C19.1885 4.90437 18.4781 3.8505 17.5726 2.94496C16.6671 2.03942 15.6054 1.32123 14.3876 0.790392C13.1698 0.275169 11.8739 0.0175591 10.5 0.0175591ZM10.5 18.0035C9.39149 18.0035 8.35324 17.7927 7.38525 17.3712C6.41725 16.9496 5.57026 16.3759 4.84426 15.6499C4.11827 14.9239 3.5523 14.0769 3.14637 13.1089C2.72482 12.1409 2.51405 11.1026 2.51405 9.99414C2.51405 8.90124 2.72482 7.86299 3.14637 6.87939C3.5523 5.91139 4.11827 5.0683 4.84426 4.35011C5.57026 3.63192 6.41725 3.06206 7.38525 2.64051C8.35324 2.21896 9.39149 2.00819 10.5 2.00819C11.6085 2.00819 12.6468 2.21896 13.6148 2.64051C14.5827 3.06206 15.4297 3.63192 16.1557 4.35011C16.8817 5.0683 17.4477 5.91139 17.8536 6.87939C18.2752 7.86299 18.4859 8.90124 18.4859 9.99414C18.4859 11.1026 18.2752 12.1409 17.8536 13.1089C17.4477 14.0769 16.8817 14.9239 16.1557 15.6499C15.4297 16.3759 14.5827 16.9496 13.6148 17.3712C12.6468 17.7927 11.6085 18.0035 10.5 18.0035ZM8.50937 11.5866L6.21429 9.29156L4.78571 10.6967L8.50937 14.397L15.2073 7.69906L13.8021 6.29391L8.50937 11.5866Z"
									fill="black"></path>
							</svg><span
								>Membre de esthetic surgery and cosmetic dermatology academy
								(IMCAS Academy)</span
							>
						</li>
						<li class="flex gap-2 items-start text-[18px] md:text-base">
							<svg
								class="mt-1 shrink-0"
								width="21"
								height="20"
								viewBox="0 0 21 20"
								fill="black"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.5 0.0175591C9.12607 0.0175591 7.83021 0.275169 6.61241 0.790392C5.39461 1.32123 4.33294 2.03942 3.4274 2.94496C2.52186 3.8505 1.81148 4.90437 1.29625 6.10655C0.765418 7.32435 0.5 8.62021 0.5 9.99414C0.5 11.3681 0.765418 12.6639 1.29625 13.8817C1.81148 15.0995 2.52186 16.1612 3.4274 17.0667C4.33294 17.9723 5.39461 18.6827 6.61241 19.1979C7.83021 19.7287 9.12607 19.9941 10.5 19.9941C11.8739 19.9941 13.1698 19.7287 14.3876 19.1979C15.6054 18.6827 16.6671 17.9723 17.5726 17.0667C18.4781 16.1612 19.1885 15.0995 19.7037 13.8817C20.2346 12.6639 20.5 11.3681 20.5 9.99414C20.5 8.62021 20.2346 7.32435 19.7037 6.10655C19.1885 4.90437 18.4781 3.8505 17.5726 2.94496C16.6671 2.03942 15.6054 1.32123 14.3876 0.790392C13.1698 0.275169 11.8739 0.0175591 10.5 0.0175591ZM10.5 18.0035C9.39149 18.0035 8.35324 17.7927 7.38525 17.3712C6.41725 16.9496 5.57026 16.3759 4.84426 15.6499C4.11827 14.9239 3.5523 14.0769 3.14637 13.1089C2.72482 12.1409 2.51405 11.1026 2.51405 9.99414C2.51405 8.90124 2.72482 7.86299 3.14637 6.87939C3.5523 5.91139 4.11827 5.0683 4.84426 4.35011C5.57026 3.63192 6.41725 3.06206 7.38525 2.64051C8.35324 2.21896 9.39149 2.00819 10.5 2.00819C11.6085 2.00819 12.6468 2.21896 13.6148 2.64051C14.5827 3.06206 15.4297 3.63192 16.1557 4.35011C16.8817 5.0683 17.4477 5.91139 17.8536 6.87939C18.2752 7.86299 18.4859 8.90124 18.4859 9.99414C18.4859 11.1026 18.2752 12.1409 17.8536 13.1089C17.4477 14.0769 16.8817 14.9239 16.1557 15.6499C15.4297 16.3759 14.5827 16.9496 13.6148 17.3712C12.6468 17.7927 11.6085 18.0035 10.5 18.0035ZM8.50937 11.5866L6.21429 9.29156L4.78571 10.6967L8.50937 14.397L15.2073 7.69906L13.8021 6.29391L8.50937 11.5866Z"
									fill="black"></path>
							</svg><span
								>Membre de la société francophone des lasers médicaux (SFLM)</span
							>
						</li>
					</ul>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<Image src={EsraImage} alt="Dr Esra Chami" loading="lazy" />
				</div>
			</div>
			<div class="lg:flex lg:flex-row gap-8">
				<div class="col lg:w-1/2 flex flex-col justify-center">
					<h3
						class="text-lg md:text-xl lg:text-xxl underline underline-offset-8 mb-6">
						Docteur Julien LEFEVRE
					</h3>
					<span class="subtitle font-bold text-base"
						>Diplômé de la faculté de médecine de Bordeaux</span
					>
					<ul class="education mt-6">
						<li class="flex gap-2 items-start mb-2 text-[18px] md:text-base">
							<svg
								class="mt-1 shrink-0"
								width="21"
								height="20"
								viewBox="0 0 21 20"
								fill="black"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.5 0.0175591C9.12607 0.0175591 7.83021 0.275169 6.61241 0.790392C5.39461 1.32123 4.33294 2.03942 3.4274 2.94496C2.52186 3.8505 1.81148 4.90437 1.29625 6.10655C0.765418 7.32435 0.5 8.62021 0.5 9.99414C0.5 11.3681 0.765418 12.6639 1.29625 13.8817C1.81148 15.0995 2.52186 16.1612 3.4274 17.0667C4.33294 17.9723 5.39461 18.6827 6.61241 19.1979C7.83021 19.7287 9.12607 19.9941 10.5 19.9941C11.8739 19.9941 13.1698 19.7287 14.3876 19.1979C15.6054 18.6827 16.6671 17.9723 17.5726 17.0667C18.4781 16.1612 19.1885 15.0995 19.7037 13.8817C20.2346 12.6639 20.5 11.3681 20.5 9.99414C20.5 8.62021 20.2346 7.32435 19.7037 6.10655C19.1885 4.90437 18.4781 3.8505 17.5726 2.94496C16.6671 2.03942 15.6054 1.32123 14.3876 0.790392C13.1698 0.275169 11.8739 0.0175591 10.5 0.0175591ZM10.5 18.0035C9.39149 18.0035 8.35324 17.7927 7.38525 17.3712C6.41725 16.9496 5.57026 16.3759 4.84426 15.6499C4.11827 14.9239 3.5523 14.0769 3.14637 13.1089C2.72482 12.1409 2.51405 11.1026 2.51405 9.99414C2.51405 8.90124 2.72482 7.86299 3.14637 6.87939C3.5523 5.91139 4.11827 5.0683 4.84426 4.35011C5.57026 3.63192 6.41725 3.06206 7.38525 2.64051C8.35324 2.21896 9.39149 2.00819 10.5 2.00819C11.6085 2.00819 12.6468 2.21896 13.6148 2.64051C14.5827 3.06206 15.4297 3.63192 16.1557 4.35011C16.8817 5.0683 17.4477 5.91139 17.8536 6.87939C18.2752 7.86299 18.4859 8.90124 18.4859 9.99414C18.4859 11.1026 18.2752 12.1409 17.8536 13.1089C17.4477 14.0769 16.8817 14.9239 16.1557 15.6499C15.4297 16.3759 14.5827 16.9496 13.6148 17.3712C12.6468 17.7927 11.6085 18.0035 10.5 18.0035ZM8.50937 11.5866L6.21429 9.29156L4.78571 10.6967L8.50937 14.397L15.2073 7.69906L13.8021 6.29391L8.50937 11.5866Z"
									fill="black"></path>
							</svg><span
								>Diplôme inter-universitaire Euopéen des lasers médicaux de
								l’université Paris VI</span
							>
						</li>
						<li class="flex gap-2 items-start text-[18px] md:text-base mb-2">
							<svg
								class="mt-1 shrink-0"
								width="21"
								height="20"
								viewBox="0 0 21 20"
								fill="black"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.5 0.0175591C9.12607 0.0175591 7.83021 0.275169 6.61241 0.790392C5.39461 1.32123 4.33294 2.03942 3.4274 2.94496C2.52186 3.8505 1.81148 4.90437 1.29625 6.10655C0.765418 7.32435 0.5 8.62021 0.5 9.99414C0.5 11.3681 0.765418 12.6639 1.29625 13.8817C1.81148 15.0995 2.52186 16.1612 3.4274 17.0667C4.33294 17.9723 5.39461 18.6827 6.61241 19.1979C7.83021 19.7287 9.12607 19.9941 10.5 19.9941C11.8739 19.9941 13.1698 19.7287 14.3876 19.1979C15.6054 18.6827 16.6671 17.9723 17.5726 17.0667C18.4781 16.1612 19.1885 15.0995 19.7037 13.8817C20.2346 12.6639 20.5 11.3681 20.5 9.99414C20.5 8.62021 20.2346 7.32435 19.7037 6.10655C19.1885 4.90437 18.4781 3.8505 17.5726 2.94496C16.6671 2.03942 15.6054 1.32123 14.3876 0.790392C13.1698 0.275169 11.8739 0.0175591 10.5 0.0175591ZM10.5 18.0035C9.39149 18.0035 8.35324 17.7927 7.38525 17.3712C6.41725 16.9496 5.57026 16.3759 4.84426 15.6499C4.11827 14.9239 3.5523 14.0769 3.14637 13.1089C2.72482 12.1409 2.51405 11.1026 2.51405 9.99414C2.51405 8.90124 2.72482 7.86299 3.14637 6.87939C3.5523 5.91139 4.11827 5.0683 4.84426 4.35011C5.57026 3.63192 6.41725 3.06206 7.38525 2.64051C8.35324 2.21896 9.39149 2.00819 10.5 2.00819C11.6085 2.00819 12.6468 2.21896 13.6148 2.64051C14.5827 3.06206 15.4297 3.63192 16.1557 4.35011C16.8817 5.0683 17.4477 5.91139 17.8536 6.87939C18.2752 7.86299 18.4859 8.90124 18.4859 9.99414C18.4859 11.1026 18.2752 12.1409 17.8536 13.1089C17.4477 14.0769 16.8817 14.9239 16.1557 15.6499C15.4297 16.3759 14.5827 16.9496 13.6148 17.3712C12.6468 17.7927 11.6085 18.0035 10.5 18.0035ZM8.50937 11.5866L6.21429 9.29156L4.78571 10.6967L8.50937 14.397L15.2073 7.69906L13.8021 6.29391L8.50937 11.5866Z"
									fill="black"></path>
							</svg><span
								>Diplôme inter-universitaire des techniques d’injections et
								comblement en dermatologie et chirurgie plastique de
								l’université Paris Descartes</span
							>
						</li>
						<li class="flex gap-2 items-start text-[18px] md:text-base mb-2">
							<svg
								class="mt-1 shrink-0"
								width="21"
								height="20"
								viewBox="0 0 21 20"
								fill="black"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.5 0.0175591C9.12607 0.0175591 7.83021 0.275169 6.61241 0.790392C5.39461 1.32123 4.33294 2.03942 3.4274 2.94496C2.52186 3.8505 1.81148 4.90437 1.29625 6.10655C0.765418 7.32435 0.5 8.62021 0.5 9.99414C0.5 11.3681 0.765418 12.6639 1.29625 13.8817C1.81148 15.0995 2.52186 16.1612 3.4274 17.0667C4.33294 17.9723 5.39461 18.6827 6.61241 19.1979C7.83021 19.7287 9.12607 19.9941 10.5 19.9941C11.8739 19.9941 13.1698 19.7287 14.3876 19.1979C15.6054 18.6827 16.6671 17.9723 17.5726 17.0667C18.4781 16.1612 19.1885 15.0995 19.7037 13.8817C20.2346 12.6639 20.5 11.3681 20.5 9.99414C20.5 8.62021 20.2346 7.32435 19.7037 6.10655C19.1885 4.90437 18.4781 3.8505 17.5726 2.94496C16.6671 2.03942 15.6054 1.32123 14.3876 0.790392C13.1698 0.275169 11.8739 0.0175591 10.5 0.0175591ZM10.5 18.0035C9.39149 18.0035 8.35324 17.7927 7.38525 17.3712C6.41725 16.9496 5.57026 16.3759 4.84426 15.6499C4.11827 14.9239 3.5523 14.0769 3.14637 13.1089C2.72482 12.1409 2.51405 11.1026 2.51405 9.99414C2.51405 8.90124 2.72482 7.86299 3.14637 6.87939C3.5523 5.91139 4.11827 5.0683 4.84426 4.35011C5.57026 3.63192 6.41725 3.06206 7.38525 2.64051C8.35324 2.21896 9.39149 2.00819 10.5 2.00819C11.6085 2.00819 12.6468 2.21896 13.6148 2.64051C14.5827 3.06206 15.4297 3.63192 16.1557 4.35011C16.8817 5.0683 17.4477 5.91139 17.8536 6.87939C18.2752 7.86299 18.4859 8.90124 18.4859 9.99414C18.4859 11.1026 18.2752 12.1409 17.8536 13.1089C17.4477 14.0769 16.8817 14.9239 16.1557 15.6499C15.4297 16.3759 14.5827 16.9496 13.6148 17.3712C12.6468 17.7927 11.6085 18.0035 10.5 18.0035ZM8.50937 11.5866L6.21429 9.29156L4.78571 10.6967L8.50937 14.397L15.2073 7.69906L13.8021 6.29391L8.50937 11.5866Z"
									fill="black"></path>
							</svg><span
								>Membre de l’association française de médecine esthétique et
								anti-âge (AFME)</span
							>
						</li>
						<li class="flex gap-2 items-start text-[18px] md:text-base">
							<svg
								class="mt-1 shrink-0"
								width="21"
								height="20"
								viewBox="0 0 21 20"
								fill="black"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.5 0.0175591C9.12607 0.0175591 7.83021 0.275169 6.61241 0.790392C5.39461 1.32123 4.33294 2.03942 3.4274 2.94496C2.52186 3.8505 1.81148 4.90437 1.29625 6.10655C0.765418 7.32435 0.5 8.62021 0.5 9.99414C0.5 11.3681 0.765418 12.6639 1.29625 13.8817C1.81148 15.0995 2.52186 16.1612 3.4274 17.0667C4.33294 17.9723 5.39461 18.6827 6.61241 19.1979C7.83021 19.7287 9.12607 19.9941 10.5 19.9941C11.8739 19.9941 13.1698 19.7287 14.3876 19.1979C15.6054 18.6827 16.6671 17.9723 17.5726 17.0667C18.4781 16.1612 19.1885 15.0995 19.7037 13.8817C20.2346 12.6639 20.5 11.3681 20.5 9.99414C20.5 8.62021 20.2346 7.32435 19.7037 6.10655C19.1885 4.90437 18.4781 3.8505 17.5726 2.94496C16.6671 2.03942 15.6054 1.32123 14.3876 0.790392C13.1698 0.275169 11.8739 0.0175591 10.5 0.0175591ZM10.5 18.0035C9.39149 18.0035 8.35324 17.7927 7.38525 17.3712C6.41725 16.9496 5.57026 16.3759 4.84426 15.6499C4.11827 14.9239 3.5523 14.0769 3.14637 13.1089C2.72482 12.1409 2.51405 11.1026 2.51405 9.99414C2.51405 8.90124 2.72482 7.86299 3.14637 6.87939C3.5523 5.91139 4.11827 5.0683 4.84426 4.35011C5.57026 3.63192 6.41725 3.06206 7.38525 2.64051C8.35324 2.21896 9.39149 2.00819 10.5 2.00819C11.6085 2.00819 12.6468 2.21896 13.6148 2.64051C14.5827 3.06206 15.4297 3.63192 16.1557 4.35011C16.8817 5.0683 17.4477 5.91139 17.8536 6.87939C18.2752 7.86299 18.4859 8.90124 18.4859 9.99414C18.4859 11.1026 18.2752 12.1409 17.8536 13.1089C17.4477 14.0769 16.8817 14.9239 16.1557 15.6499C15.4297 16.3759 14.5827 16.9496 13.6148 17.3712C12.6468 17.7927 11.6085 18.0035 10.5 18.0035ZM8.50937 11.5866L6.21429 9.29156L4.78571 10.6967L8.50937 14.397L15.2073 7.69906L13.8021 6.29391L8.50937 11.5866Z"
									fill="black"></path>
							</svg><span
								>Membre de la société francophone des lasers médicaux (SFLM)</span
							>
						</li>
					</ul>
				</div>
				<div class="col lg:w-1/2 lg:mt-0 mt-8 flex flex-col justify-center">
					<Image src={JulienImage} alt="Dr Julien Lefèvre" loading="lazy" />
				</div>
			</div>
		</div>
		<!-- FIN DE GAUCHE DROITE -->

		<section class="assistante bg-grey-100 pt-24 pb-24 text-center">
			<h2 class="section-title">Les assistantes médicales</h2>
			<p
				class="text-center max-w-3xl mx-auto mb-16 text-[18px] md:text-base px-6">
				Rencontrez nos assistantes dans nos cabinets de Saint-Denis et
				Saint-Leu. Elles vous accueillent, s’occupent de vos rendez-vous et de
				vos séances.
			</p>
			<div
				class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mb-16 gap-6">
				<div class="text-center mb-6">
					<Image
						src={MagaliImage}
						alt="Magali"
						class="mb-4 sm:w-full mx-auto"
						loading="lazy" 
					/><span class="assistante_name">Magali</span>
				</div>
				<div class="text-center mb-6">
					<Image
						src={FionaImage}
						alt="Fiona"
						class="mb-4 sm:w-full mx-auto"
						loading="lazy" 
					/><span class="assistante_name">Fiona</span>
				</div>
				<div class="text-center mb-6">
					<Image
						src={EmelyneImage}
						alt="Emelyne"
						class="mb-4 sm:w-full mx-auto"
						loading="lazy" 
					/><span class="assistante_name">Emelyne</span>
				</div>
				<div class="text-center mb-6">
					<Image
						src={SophieImage}
						alt="Sophie"
						class="mb-4 sm:w-full mx-auto"
						loading="lazy" 
					/><span class="assistante_name">Sophie</span>
				</div>
			</div>
			<a href="/demander-un-rdv/" class="cta rounded brown">Prendre RDV</a>
		</section>

		<section class="centres bg-white pt-24 pb-18 text-center">
			<h2 class="section-title">Nos centres médicaux</h2>
			<p
				class="text-center max-w-3xl mx-auto mb-16 text-[18px] md:text-base px-6">
				Les docteurs Chami et Lefèvre vous accueillent dans leurs cabinets de
				Saint-Denis et de Saint-Leu. Les cabinets sont équipés de la même
				technologie lasers.
			</p>
			<div class="xl:container">
				<div class="tabnav text-left mx-auto px-8">
					<span data-target="saint-denis"
						class="tab saint-denis active md:text-md sm:text-base text-[16px] px-4 py-2 font-semibold"
						>Cabinet de Saint-Denis</span
					>
					<span data-target="saint-leu"
						class="tab saint-leu md:text-md sm:text-base text-[16px] px-4 py-2 font-semibold"
						>Cabinet de Saint-Leu</span
					>
				</div>
				<div class="tab-content mx-auto px-0 relative h-auto">
					<div
						id="saint-denis"
						class="active tabcontentEl mx-auto px-8 grid lg:grid-cols-2 grid-cols-1 gap-6 mb-16">
						<div class="left-col overflow-x-clip relative">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="/img/img1.jpg" alt="" loading="lazy"/>
									</div>
									<div class="swiper-slide">
										<img src="/img/img2.jpg" alt="" loading="lazy"/>
									</div>
									<div class="swiper-slide">
										<img src="/img/img3.jpg" alt="" loading="lazy"/>
									</div>
									<div class="swiper-slide">
										<img src="/img/img4.jpg" alt="" loading="lazy"/>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<div class="right-col flex flex-col justify-center">
							<Image
								src={CarteStDenis}
								alt="Cabinet de Saint-Denis"
								class="mb-4 rounded-lg w-full"
								loading="lazy" 
							/>
							<div
								class="adress-container flex flex-col sm:flex-rowtext-left gap-4 z-30">
								<button
									class="cta rounded brown self-center sm:inline-block block"
									onclick="openGmaps('map1');">Voir la Carte</button
								>
								<p class="font-bold text-[18px]">
									45 rue Montseigneur de Beaumont<br />97400 Saint-Denis
								</p>
							</div>
						</div>
					</div>

					<div
						id="saint-leu"
						class="mx-auto px-8 tabcontentEl grid lg:grid-cols-2 grid-cols-1 mb-16 gap-6">
						<div class="left-col overflow-x-clip relative">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="/img/img1.jpg" alt="" loading="lazy" />
									</div>
									<div class="swiper-slide">
										<img src="/img/img2.jpg" alt="" loading="lazy"/>
									</div>
									<div class="swiper-slide">
										<img src="/img/img3.jpg" alt="" loading="lazy"/>
									</div>
									<div class="swiper-slide">
										<img src="/img/img4.jpg" alt="" loading="lazy"/>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>

						<div class="right-col flex flex-col justify-center">
							<Image
								src={CarteStLeu}
								alt="Cabinet de Saint-Denis"
								class="mb-4 rounded-lg w-full"
								loading="lazy" 
							/>
							<div
								class="adress-container flex flex-col sm:flex-rowtext-left gap-4 z-30">
								<button class="cta rounded brown self-center" onclick="openGmaps('map2');"
									>Voir la Carte</button
								>
								<p class="font-bold text-[18px]">
									21 rue du Pressoir ZAC le portail<br />97436 Saint-Leu
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="blogpost bg-grey-100 pt-20 pb-24">
			<div class="row text-center">
				<div class="container">
					<h2 class="section-title">Nos actualités</h2>
					<p
						class="text-center max-w-3xl mx-auto mb-6 text-[18px] md:text-base font-normal">
						Retrouvez ici nos dernières publications et toutes les actualités
						des traitements de médecine esthétique.
					</p>
					<HomeBlogSlider />
				</div>
			</div>
		</section>
		<section class="contact bg-white pt-20 pb-24 text-center py-6 px-6">
			<h2 class="section-title">
				Nos soins de médecine esthétique vous intéressent ?
			</h2>
			<a href="/demander-un-rdv/" class="cta rounded brown">Prendre RDV</a>
		</section>
	</main>
	<GoogleMaps />
	<Footer />
</Layout>
<script>
	import Swiper from "swiper/bundle";
	import "swiper/css/bundle";

	function initializeSwiper() {
		const swiperContainer = document.querySelector(".swiper-container");
		if (!swiperContainer) {
			// Si le conteneur n'existe pas, sortir de la fonction
			return;
		}
		// Optionnel : nettoyer l'instance Swiper si elle existe déjà
		//@ts-ignore
		if (swiperContainer.swiper) {
			//@ts-ignore
			swiperContainer.swiper.destroy();
		}

		var swiper = new Swiper(".swiper-container", {
			pagination: {
				el: ".swiper-pagination",
				clickable: true,
			},
			slidesPerView: 1,
			breakpoints: {
				320: {
					slidesPerView: 1,
					spaceBetween: 20,
				},
				480: {
					slidesPerView: 1,
					spaceBetween: 30,
				},
				640: {
					slidesPerView: 1,
					spaceBetween: 40,
				},
				768: {
					slidesPerView: 1,
					spaceBetween: 40,
				},
				1024: {
					slidesPerView: 1,
					spaceBetween: 40,
				},
				1280: {
					slidesPerView: 1,
					spaceBetween: 40,
				},
			},
			loop: true,
			spaceBetween: 0,
			freeMode: false,
			speed: 500,
			navigation: {
				nextEl: ".swiper-next",
				prevEl: ".swiper-prev",
			},
		});
	}

	// Attacher l'initialisation de Swiper à l'événement de chargement de page
	document.addEventListener("astro:page-load", initializeSwiper);
	// Initialiser Swiper immédiatement si le DOM est déjà chargé
	if (
		document.readyState === "complete" ||
		document.readyState === "interactive"
	) {
		initializeSwiper();
	} else {
		document.addEventListener("DOMContentLoaded", initializeSwiper);
	}

//FIN DE SWIPER JS



function attachTabClickHandlers() {
    const tabs = document.querySelectorAll(".tab");
    tabs.forEach(tab => {
        tab.removeEventListener("click", handleTabClick); // Nettoyez d'abord
        tab.addEventListener("click", handleTabClick); // Attachez ensuite
    });
}

function handleTabClick() {
    const tabs = document.querySelectorAll(".tab");
    const tabContents = document.querySelectorAll(".tabcontentEl");
	//@ts-ignore
    const targetId = this.getAttribute('data-target'); // Utilisez un attribut de données pour la cible

    tabs.forEach(tab => tab.classList.remove("active"));
	//@ts-ignore
    this.classList.add("active");

    tabContents.forEach(tabContent => {
        tabContent.classList.toggle("active", tabContent.id === targetId);
    });
}
attachTabClickHandlers();
// Attachez les gestionnaires d'onglets lorsque le DOM est prêt
document.addEventListener("DOMContentLoaded", attachTabClickHandlers);
// Réattachez les gestionnaires d'onglets sur les événements de navigation d'Astro
document.addEventListener("astro:page-load", attachTabClickHandlers);

</script>

<style lang="scss">
	main {
		margin: auto;
	}
	.hero-element {
		background: url("/img/hero-home-bck.webp") no-repeat center center;
		@apply relative bg-cover bg-center;
	}
	.overlay {
		@apply absolute top-0 bottom-0 left-0 right-0  bg-black bg-opacity-50 pointer-events-none  transition-all duration-500;
	}

	.intermediatenav {
		svg {
			@apply fill-grey-200 transition-all duration-300;
		}

		a:hover {
			@apply bg-grey-200 fill-grey-200 text-white transition-all duration-300;
			svg {
				@apply fill-white transition-all duration-300;
			}
			span {
				@apply text-white transition-all duration-100;
			}
		}
	}

	.treat-injection,
	.treat-epil,
	.treat-rajeun,
	.treat-detat {
		@apply bg-cover bg-center transition-all duration-500 relative overflow-hidden;
		background-size: 100%;
		filter: grayscale(60%);
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: inherit;
			@apply bg-cover bg-center;
			z-index: 10;
			transition: transform 0.5s ease-out;
			transform: scale(1);
		}
		&:hover {
			filter: grayscale(0);

			@apply transition-all duration-500;
			&::after {
				transform: scale(1.1);
			}
			.overlay {
				@apply opacity-0 transition-all duration-500;
			}
			a.cta {
				@apply text-black bg-white px-8 py-4;
				&:hover {
					@apply text-white bg-brown-500;
				}
			}
		}
	}
	.treat-injection {
		background: url("/img/treat-injections.webp");
		@apply bg-cover bg-center bg-no-repeat;
	}
	.treat-epil {
		background: url("/img/treat-epil.webp");
	}
	.treat-rajeun {
		background: url("/img/treat-rajeun.webp");
	}
	.treat-detat {
		background: url("/img/treat-detat.webp");
		@apply bg-cover bg-center bg-no-repeat;
	}
	.assistante .assistante_name {
		@apply text-center relative text-md font-bold;
		&:after {
			@apply content-[""] absolute -bottom-2 left-1/2 -translate-x-1/2 w-full h-[2px] bg-brown-400;
		}
	}
	.tabnav {
		@apply flex;
	}
	.tab {
		@apply text-white bg-grey-500 transition-all duration-300 rounded-se-lg text-base;
		&:hover {
			@apply cursor-pointer bg-grey-200 transition-all duration-200 text-white;
		}
	}
	.tab.active {
		@apply text-white bg-black;
	}
	#saint-denis {
		position: absolute;
	}
	#saint-denis,
	#saint-leu {
		opacity: 0;
		transition:
			visibility 0s linear 0.3s,
			opacity 0.3s linear;
	}
	#saint-denis.active,
	#saint-leu.active {
		opacity: 1;
		transition:
			visibility 0s linear 0.3s,
			opacity 0.3s linear;
	}

	:root {
		--swiper-theme-color: #c58744 !important;
		--swiper-pagination-bullet-size: 10px !important;
		--swiper-pagination-bullet-width: 10px !important;
		--swiper-pagination-bullet-horizontal-gap: 6px;
		--swiper-pagination-bullet-width: 10px;
		--swiper-pagination-bullet-height: 10px;
		--swiper-pagination-bullet-border: 2px;
		--swiper-pagination-bullet-border-radius: 99px;
		--swiper-pagination-bullet-inactive-color: black;
		--swiper-pagination-bullet-inactive-opacity: 1;
	}

	.swiper-slide img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
</style>
